.evaluate-empty-content {
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center
}

.group-table-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 200px;

    .test-manage-header {
        display: flex;
        justify-content: space-between;

        .search-input {
            width: 356px;
            font-size: 12px;
        }

        .el-dropdown {
            margin-right: 8px;

            .dropdown-disabled {
                cursor: not-allowed;

                &:hover,
                :active {
                    cursor: not-allowed;
                }
            }
            .upBtn{
                border-color: #6395FD !important;
                color: #6395FD !important;
            }

        }
    }
    .test-manage-table{
        height: calc(100vh - 320px);
        overflow-y: auto;
    }
    .el-table.is-scrolling-left.el-table--border .el-table-fixed-column--left.is-last-column.el-table__cell {
        border-right: unset !important;
    }

    .el-table__header {
        width: 100% !important;
        height: 32px;
        box-shadow: inset 0 -1px 0 0 rgb(223 229 239);

        thead tr th {
            background-color: #f4f6fa;
        }
    }

    .custom-header {
        display: flex;
        gap: 4px;
        align-items: center;

        .searchIconIsActive {
            color: rgb(99, 149, 253) !important;
        }

        .el-icon {
            font-size: 16px;
            color: #8d98aa;
        }

        .el-icon:hover {
            color: rgb(99, 149, 253);
            cursor: pointer;
        }

        svg {
            width: 16px;
            height: 16px;
        }
        .sort-icon-box{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    .test-name {
        color: rgb(99, 149, 253) !important;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }

    .testing-model-type{
        img{
            transform: translateY(25%);
        }
    }

    .statusAnalysis {
        display: flex;
        align-items: center;

        .percent-box {
            .el-progress-bar {
                width: 88px;
            }

            .el-progress__text {
                width: fit-content;
            }
        }

        .el-progress__text {
            width: 24px;
            min-width: 18px;
            margin-left: 8px;
            color: var(--o-text-color-primary);
        }

        .statusAnalysisText {
            font-size: 12px;
            font-family: 'HarmonyOS Sans SC Medium';
            margin-left: 4px;
            color: var(--o-text-color-primary);
        }
    }

    .statusFail,
    .statusWaitIng,
    .statusSuccess,
    .statusCancel {
        height: 16px;
        width: fit-content;
        padding: 0px 8px;
        font-size: 12px;
        line-height: 16px;
        color: rgb(255 255 255) !important; 
        text-align: center;
        border-radius: 2px;
        font-weight: 500;
    }

    .statusFail {
        background: rgb(227, 32, 32);
    }

    .statusSuccess {
        background: rgb(36, 171, 54);
    }

    .statusCancel {
        background: rgb(141, 152, 170);
    }

    .statusWaitIng {

        background: rgb(250, 192, 84);
    }

    .test-manage-btns{
        button{
            border: unset;
        }
        .el-button--text:not(.is-disabled)>span{
            color: rgb(99, 149, 253);
        }
    }

    .el-table__body {
        width: 100% !important;

        .el-table__row {
            height: 48px;
        }
    }

    .el-table__cell {
        padding: 0 !important;
        font-size: 12px;
        .cell{
            line-height: 16px;
            padding: 0 8px;
        }
    }

    .el-table--border .el-table__cell:first-child .cell {
        padding: 0 12px !important;
    }

    .el-table-column--selection .cell {
        padding-right: 0 !important;
        padding-left: 40px;
    }

    .group-selection::after {
        content: unset !important;
    }

    .el-pagination {
        margin-top: 8px;
    }

    .el-pagination .el-input__inner {
        height: var(--el-input-inner-height) !important;
    }
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
    width: 16px;
    height: 16px;
    position: absolute !important;
    left: -38px;
    top: 16px;
    margin: 0 ;
    margin-right: 8px;
}
.evaluate-dialog {
    padding: 0px;
    .el-dialog__header {
        padding: 16px 0 16px 24px;
    }

    .el-dialog__body {
        padding-bottom: 0px;
        max-height:400px;
        .evaluate-form {
            .el-form-item {
                margin-bottom: 24px;
                .el-form-item__label{
                    color: var(--o-text-color-secondary);
                    font-size: 12px;
                    font-family: 'HarmonyOS Sans SC Regular';
                    padding: 0px;
                    margin-right: 24px;
                    line-height: 32px;
                }
                .el-form-item__label:before{
                    position: absolute;
                    left: -8px;
                }

                .el-form-item__content{
                    .el-select{
                        width: 100%;
                    }
                    .el-input__inner,.el-textarea__inner,.el-select__selected-item{
                        font-size: 12px;
                        font-family: 'HarmonyOS Sans SC Regular';
                        --el-input-placeholder-color: var(--o-text-color-tertiary);
                        font-weight: 400;
                    }
                    .el-textarea__inner{
                        height: 88px;
                    }
                    .el-input-number{
                        width: 104px;
                    }
                    .topk-desc{
                        font-size: 12px;
                        line-height: 16px;
                        font-family: 'HarmonyOS Sans SC Regular';
                        color: #8d98aa;
                    }
                }
                
            }
            .evaluate-type-container{
                .el-input__wrapper{
                    padding-left: 44px !important;
              }
            }  
            .evaluate-dataSetName-container{
                height: 16px !important;
                .el-form-item__label,.el-form-item__content{
                    height: 16px !important;
                    line-height: 16px !important;
                    min-height: 16px !important;
                }
                .evaluate-dataSetName{
                    color: var(--o-text-color-primary);
                    font-size: 12px;
                    font-family: 'HarmonyOS Sans SC Regular';
                    line-height: 16px;
                }
            }
        }
    }

    .el-dialog__footer {
        padding-bottom: 24px;
        padding-top: 8px;

        .dialog-footer {
            display: flex;
            justify-content: center;
            & button{
                height: 24px;
                width: 64px;
                margin-right: 0px;
            }
        }
    }
}
.el-select__popper.el-popper[role=tooltip]{
    max-width: 414px !important;
}

.custom-llm-select-popper{
    .el-select-dropdown__item{
        display: flex;
        align-items: center;
    }
}