.kf-section-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  min-width: 1240px;
  .kf-section-container-top {
    display: flex;
    align-items: center;
    height: 24px;

    .kf-section-left-menu {
      display: flex;
      gap: 4px;
      align-items: center;
      width: 310px;

      .home-menu {
        max-width: 80px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
      }

      .kf-section-name {
        font-size: 12px;
        font-weight: 700;
      }
    }

    .kf-section-right-title {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .kf-section-container-action {
    display: flex;
    width: 100%;
    height: calc(100vh - 175px);

    .kf-section-container-left {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      gap: 16px;
      width: 260px;
      background: var(--o-bg-color-base);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: iniset -1px 0 0 0 rgb(223 229 239);

      .kf-section-info-title {
        line-height: 32px;
        font-size: 14px;
        color: var(--o-text-color-primary);
        font-weight: 700;
        font-family: 'HarmonyOS Sans SC Regular';
      }

      .kf-section-info-desc {
        display: flex;

        .kf-section-info-label {
          width: 60px;
          margin-right: 24px;
          font-size: 12px;
          color: var(--o-text-color-secondary);
        }

        .kf-section-info-content {
          max-width: 170px;
          font-size: 12px;
          color: var(--o-text-color-primary);
        }
      }
    }
    .kf-section-divider{
      width: 1px;
      height: 100vh;
      background: var(--o-border-color-base);
    }
    .kf-section-container-right {
      flex: 1;
      min-width: 700px;
      height: 100%;;
      background: var(--o-bg-color-base);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-left: 24px;
      margin-top: 16px;

      .el-empty{
        display: flex;
        align-items: center;
        height: calc(100vh - 400px);
      .el-empty__image{
          width: 320px;
          height: 130px;
        }
      }

      .kf-section-container-table-ops {
        color: var(--o-text-color-primary);
        display: flex;
        margin-bottom: 8px;

        .kf-pre-title {
          font-size: 14px;
          font-weight: 700;
          line-height: 32px;
          font-family: 'HarmonyOS Sans SC Regular';
          margin-right: 24px;
        }

        .kf-btn-search {
          display: flex;
          height: 32px !important;
          margin-right: 8px;

          .el-input-group__prepend {
            width: 120px;
            height: 32px;
            padding: 0px !important;
            box-sizing: border-box;
            background: var(--o-bg-color-base) !important;
            border-radius: 4px 0px 0px 4px !important;
            box-shadow: none;
          }

          .el-input__wrapper {
            width: 280px;
            padding-right: 8px !important;
            border-radius: 0 4px 4px 0px !important;
            .el-input__suffix {
              .el-input__icon {
                font-size: 16px;
                color: #8D98AA;
              }
            }
          }
          .el-input__inner {
            font-size: 12px !important;
          }
        }

        .el-input__wrapper {
          width: 280px !important;
          .el-input__inner {
            width: 280px;
          }
        }
      }

      .kf-section-container-content {
        display: flex;
        flex-direction: column;
        height: calc(100% - 40px);
      }

      .kf-section-container-table-box {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 8px;

        .el-scrollbar {
          padding-right: 24px;
        }

        .el-table__body {
          width: unset !important;
        }
      }

      .kf-section-container-pagination {
        flex-shrink: 0;
        padding: 16px 0;
        border-top: 1px solid var(--o-border-color-base);
        background: var(--o-bg-color-base);
      }

        .el-scrollbar .el-scrollbar__bar .el-scrollbar__thumb {
          background: rgb(195, 206, 223) !important;
          opacity: 1;
        }
        .el-scrollbar__bar{
          right: 0px;
        }
        .is-horizontal {
          display: none;
        }

        ::-webkit-scrollbar-track {
          background: #c3cedf !important;
          border-radius: 1px;
        }

        /* 滚动条滑块样式 */
        ::-webkit-scrollbar-thumb {
          background: #c3cedf !important;
          background-clip: content-box;
          border-radius: 4px;
        }
      }

      .el-table {
        width: 100%;
        height: 100%;
        overflow: visible !important;
      }

      .showPagination {
        max-height: 100% !important;
      }

      .el-table__header {
        height: 32px;
        colgroup {
          col:first-child {
            width: 24px !important;
          }
        }
        & thead tr th{
          background-color: var(--o-bg-color-base) !important;
          width: 20px !important;
        }
        .kf-selection {
          border-bottom: unset !important;

          .cell {
            padding-right: 0 !important;
            padding-left: 0 !important;
          }
        }
        col[name='el-table_1_column_1'] {
          width: 24px !important;
        }

        .kf-file-content {
          border-bottom: unset !important;
        }

        .kf-file-type {
          border-bottom: unset;
          display: none;
        }

        .kf-file-content .cell {
          width: 100px;
          padding-left: 0 !important;
        }

        .kf-selection::after {
          content: unset !important;
        }
      }

      .el-table__body {
        color: black !important;
        transform: translateY(-7px);
        colgroup {
          col:first-child {
            width: 46px !important;
          }
        }
        .el-table__row {
          height: 48px;
        }

        .kf-selection {
          border-top: 1px solid var(--o-border-color-base);
          border-left: 1px solid var(--o-border-color-base);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;

          .cell {
            position: absolute !important;
            top: 13px !important;
            padding-left: 18px;
          }
        }

        .text-type-tag {
          display: inline-block;
          margin-right: 5px;
          height: 16px;
          padding: 0 8px;
          font-size: 12px;
          line-height: 16px;
          border-radius: 2px;
          min-width: 40px;
        }
        .text-type-text {
          color: var(--o-tag-text-color);
          background-color: var(--o-tag-text-bg);
        }
        .text-type-table {
          color: var(--o-tag-table-color);
          background-color: var(--o-tag-table-bg);
        }
        .text-type-image {
          color: var(--o-tag-image-color);
          background-color: var(--o-tag-image-bg);
        }
        .text-type-link {
          color: var(--o-tag-link-color);
          background-color: var(--o-tag-link-bg);
        }
        .text-type-code {
          color: var(--o-tag-code-color);
          background-color: var(--o-tag-code-bg);
        }
        .text-type-qa {
          color: var(--o-tag-qa-color);
          background-color: var(--o-tag-qa-bg);
        }
        .kf-file-content {
          margin-top: 20px;
          border-top: 1px solid var(--o-border-color-base);
          border-right: 1px solid var(--o-border-color-base);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;

          .cell {
            padding-right: 16px;
            padding-left: 0;
            font-size: 12px;
            line-height: 16px;
            text-align: left;
            letter-spacing: 0;
          }

          .kf-file-content-box {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            align-items: flex-start;

            .kf-file-content-text {
              padding: 16px 0;
              .text-type-text,.text-type-tag{
                display: inline-block;
              }
              .highlighted-term {
                display: inline-block;
                background: rgb(235, 175, 0);
              }
            }

            .kf-file-content-ops {
              padding: 16px 0;
              min-width: 70px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              button{
                height: 16px;
              }
            }
          }
        }
      }

      .el-table__cell {
        padding: 0 !important;
        font-size: 12px;
      }

      .kf-section-container-pagination .el-pagination {
        margin-bottom: 4px;
        display: flex;
        justify-content: center;
      }

      .el-pagination .el-input__inner {
        height: var(--el-input-inner-height) !important;
      }

      .el-switch,
      .el-switch__core {
        width: 32px !important;
        min-width: unset !important;
        height: 16px !important;
      }

      .el-switch__action {
        top: 1.3px;
        left: 1.5px;
        width: 12px !important;
        height: 12px !important;
      }

      .el-switch.is-checked .el-switch__core .el-switch__action {
        left: calc(100% - 13px) !important;
      }
    }
  }

  .kf-section-name {
    max-width: 120px;
  }

  .libraryName {
    display: inline-block;
    max-width: 120px;

    .el-link__inner {
      display: inline-block;
      width: 100%;
    }
  }

.kf-section-ops-dowlon {

  .el-dropdown-menu__item {
    font-size: 12px;
  }

  .el-dropdown-menu {
    overflow: hidden;
  }
}
.fileTypeSelect {
  height: 32px;
  min-height: unset !important;
  background-color: white !important;
  .el-select__wrapper {
    height: 32px;
    min-height: unset !important;
  }
  .el-select__selection {
    display: flex !important;
    .el-select__selected-item {
      width: 30px;
      background: unset !important;
    }
    .el-tag {
      background: unset !important;
    }
    .el-tag__close {
      display: none;
    }
  }
}
.file-type-select {
  min-height: unset !important;
  background-color: white !important;
  border: 1px solid #409eff;
  .el-select-dropdown__item.is-hovering {
    color: #fff !important;
    background: #07f;
  }
  li::before {
    display: none !important;
  }
}

.fileTypePoperClass {
  width: 120px !important;
  min-width: unset !important;
  transform: translateY(-10px);
  padding: 4px 16px !important;
  background-color: var(--o-bg-color-base) !important;
  border: 1px solid rgb(99, 149, 253) !important;
  border-radius: 4px !important;
  .el-checkbox {
    position: relative;
  }
  .el-checkbox__label {
    font-size: 12px !important;
  }
  .isFileTypeChcekHover {
    .el-checkbox__label {
      color: rgb(255 255 255) !important;
    }
  }

  .isFileTypeChcekHover::after {
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    width: 120px;
    height: 32px;
    left: -16px;
    background-color: #409eff;
  }
}
.fileCheckTypeShow {
  display: flex;
  width: 100%;
  height: 32px;
  justify-content: center;
  gap: 8px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  box-shadow: 1px 0 0 0px inset var(--o-input-border-color), 0 1px 0 0 inset var(--o-input-border-color), 0 -1px 0 0 inset var(--o-input-border-color);
  &:hover{
    box-shadow: 1px 0 0 0px inset #6395FD, 0 1px 0 0 inset #6395FD,0 -1px 0 0 inset #6395FD,-1px 0 0 0 inset #6395FD;
  }
  .fileCheckTypeContent {
    width: 64px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span {
      font-size: 12px !important;
    }
  }
  .el-icon-fileType {
    font-size: 16px;
    color: #8D98AA;
  }
  .fileTypeIcon {
    display: flex;
    align-items: center;
  }
  .icon-up {
    color: var(--color) !important;
  }
}
.filteTypeShowClass {
  border-radius: 4px 0 0 4px;
  width: 120px;
  .fileCheckTypeContent {
    transform: translateY(-1px);
    span {
      font-size: 12px !important;
    }
  }
}
.is_selected{
  box-shadow: 1px 0 0 0px inset #6395FD, 0 1px 0 0 inset #6395FD, 
                0 -1px 0 0 inset #6395FD, -1px 0 0 0 inset #6395FD;
}

.kf-section-container .kf-section-container-action .kf-section-container-right .el-table__body .kf-selection{
  width: 40px !important;
}

.kf-section-edit-dialog{
  padding: 0px;
  .el-dialog__header {
    padding: 16px 24px !important;
}
  .el-dialog__body {
    padding: 0px;
    margin: 24px;
    max-height:unset;

    .el-textarea__inner{
      width: 496px;
      height: 440px !important;
    }
    textarea::-webkit-scrollbar {
      width: 4px; 
    }
  }
  .el-dialog__footer .el-button{
    margin: 0px;
  }
  .el-dialog__footer {
    padding-bottom: 24px;
    padding-top: 8px;

    .dialog-footer {
        display: flex;
        justify-content: center;
        & button{
            height: 24px;
            width: 64px;
        }
    }
}
}
