@font-face {
  font-family: 'HarmonyOS Sans SC Regular';
  src:
    var(--font-harmony-woff2, url(./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.woff2)) format('woff2'),
    var(--font-harmony-woff, url(./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.woff)) format('woff');
  font-weight: 400;
  font-style: normal;
}

::before,
::after {
  box-sizing: border-box;
  border-color: currentcolor;
  border-style: solid;
  border-width: 0;
}

#app {
  width: 100%;
  height: 100%;
  background-image: var(--o-main-bg) !important;
  background-size: cover; /* 图片自动缩放覆盖整个容器 */
  background-position: center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 禁止重复 */
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  min-width: 600px;
  height: 100%;
  line-height: 1.5;
  tab-size: 4;
  text-size-adjust: 100%;
}

:root {
  --el-font-family:
    'HarmonyOS Sans SC Regular', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji' !important;
    font-weight: 400;
}

html,
body,
input,
button,
.is-selected {
  margin: 0;
  font-family:
    'HarmonyOS Sans SC Regular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !important;
    font-weight: 400;
  line-height: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
svg {
  display: inline-block;
}

svg {
  // 因icon大小被设置为和字体大小一致，而span等标签的下边缘会和字体的基线对齐，故需设置一个往下的偏移比例，来纠正视觉上的未对齐效果
  vertical-align: -0.15em;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.el-button {
  border-radius: 4px !important;
}

.el-button span {
  justify-content: center;
  font-size: 12px;
}

$newbg: linear-gradient(
  to top left,
  rgba(165, 221, 249, 0.637),
  rgba(118, 182, 251, 0.698) 50.232%,
  rgba(106, 147, 243, 0.632) 83.699%
);
// $newbg:linear-gradient(270deg, rgba(109, 117, 250, 0.2), rgba(90, 179, 255, 0.2));
$newHoverBg: linear-gradient(
  to top left,
  rgb(182, 216, 253),
  rgb(149, 203, 250) 33.232%,
  rgb(139, 152, 249) 85.699%
);
/**
 * 重置按钮背景及边框颜色样式
 */

.el-button.is-disabled, .el-button.is-disabled:hover, .el-button.is-disabled:focus {
  background-color: var(--o-button-bg-color_disabled) !important;
  background-image: none;
  border-color: var(--o-button-border-color_disabled) !important;
  color: var(--o-button-color_disabled) !important;
  cursor: not-allowed;
}
.el-button--primary.is-disabled, .el-button--primary.is-disabled:hover {
  background-color: var(--o-button-bg-color_primary_disabled) !important;
  background-image: none;
  border-color: var(--o-button-border-color_primary_disabled) !important;
  color: var(--o-text-color-fourth) !important;
  cursor: not-allowed;
}
.el-dropdown:not(.is-disabled) .el-button {
  background-color: var(--o-button-bg-color) !important;
  border-color: var(--o-button-border-color) !important;
  color: var(--o-text-color-secondary) !important;
  &:hover,&:active,&:focus{
    border-color: #6395FD  !important;
    color: #6395FD !important;
  }
}
.el-dropdown.is-disabled .el-button {
  color: var(--o-button-color_disabled) !important;
  background-color: var(--o-button-bg-color_disabled) !important;
  border-color: var(--o-button-border-color_disabled) !important;
  &:hover,&:focus{
    border-color: var(--o-button-border-color_disabled) !important;
    color: var(--o-button-color_disabled) !important;
  }
}

.el-button:not(.is-disabled){
  background-color: var(--o-button-bg-color);
  border-color: var(--o-button-border-color) !important;
  color: var(--o-text-color-secondary) !important;
  &:hover{
    border-color: var(--o-button-bg) !important;
    color: rgba(99, 149, 253,1) !important;
  }
}

.el-button.is-text:not(.is-disabled):hover{
  background-color: var(--o-button-bg-color) !important;
}
.el-button.is-text>span{
  color: var(--o-button-bg) !important;
}

.el-button--primary:not(.is-disabled){
  background-color: var(--o-button-bg) !important;
  border-color: var(--o-button-bg) !important;
  color: white !important;
  &:hover,&:focus{
    color: white !important;
    background-color: rgba(99, 149, 253,0.9) !important;
    border-color: var(--o-button-bg) !important;
  }
}

.el-button.is-text.is-disabled>span{
  color: var(--o-button-color_disabled) !important;
}
.el-button+.el-button{
  margin-left: 8px !important;
}
.el-input-number__decrease, .el-input-number__increase{
  background-color: unset !important;
}

.dropdown-container {
  margin-top: -10px;
  border-color: var(--o-button-bg) !important;
  border-radius: var(--el-border-radius-base) !important;
  min-width: 106px !important;
  .el-dropdown-menu{
    background-color:  var(--o-bg-color-base) !important;
    .el-dropdown-menu__item{
      color: var(--o-text-color-secondary) !important;
    }
  }

  .el-dropdown-menu__item:not(.is-disabled):hover,.el-dropdown-menu__item:not(.is-disabled):focus {
    color: rgb(255 255 255) !important;
    background: rgb(99,149,253) !important;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:active,
div:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c3cedf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfc7d7 !important;
  background-color: #bfc7d7 !important;
  border: 0;
  opacity: 1;
}
.el-popper[role=tooltip]{
  max-width: 376px !important;
}
.el-popper.el-scrollbar{
  background-color: var(--o-bg-color-base) !important;
  border-radius: 4px;
}
.el-scrollbar .el-scrollbar__bar .el-scrollbar__thumb {
  background: rgb(195, 206, 223) !important;
  opacity: 1;
}

.resetBtn {
  width: 64px;

  span {
    font-size: 12px;
  }
}
.el-dialog{
  border-radius: 8px !important;
  background-color: var(--o-bg-dialog) !important;
}
.el-dialog__header {
  .el-dialog__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--o-text-color-primary) !important;
  }
}

.el-table tbody tr {
  background-color: var(--o-bg-color-base) !important;
  &:hover>td {
    background-color: var(--o-bg-color-base) !important;
  }
}
.el-table__header thead tr th {
  background-color: var(--o-bg-color-light) !important;
}

.el-table td.el-table__cell div{
  color: var(--o-text-color-primary);
}

.el-button:focus-visible {
  outline: unset !important;
}

.el-table__column-filter-trigger {
  line-height: 16px;
}

.filterPopper {
  display: flex;
  flex-direction: column;
  width: 168px !important;
  padding: 8px 16px 16px !important;
  transform: translateY(-10px);
  background-color: var(--o-bg-color-base) !important;

  .el-checkbox-group {
    .el-checkbox {
      margin-right: 0;
    }
  }

  .el-checkbox__label {
    width: 120px;
    font-size: 12px;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: rgb(78 88 101);
  }

  .el-checkbox:hover:not(.is-disabled) .el-checkbox__inner {
    box-sizing: border-box;
    border-color: rgb(208 212 220) !important;
    border-radius: 1px;
  }

  .is-checked {
    border: unset !important;
  }
}
.form-right-tip {
  color: var(--o-text-color-tertiary);
  font-size: 12px;
  margin-left: 8px;
}

.o-message--error {
  width: 544px;
  background-color: var(--o-message-bg-color_error) !important;
  border-color: var(--o-message-border-color_error) !important;
  .el-message__content {
    flex: 1;
  }
  .el-icon {
    position: relative !important;
    top: unset !important;
  }
}

.el-message--info {
  height: 48px !important;
}

.el-message__icon {
  font-size: 16px !important;
  margin-right: unset !important;
}

.el-message__content {
  font-size: 12px !important;
}

.o-message--success {
  width: 544px;
  background-color:  var(--o-message-bg-color_success) !important;
  border-color:  var(--o-message-border-color_success) !important;
  .el-message__content {
    flex: 1;
  }
  .el-icon {
    position: relative !important;
    top: unset !important;
  }
}

.o-message--warning {
  width: 544px;
  background-color: var(--o-message-bg-color_warning) !important;
  border-color: var(--o-message-border-color_warning) !important;
}

.el-dialog__headerbtn {
  height: 20px !important;
  width: unset !important;
  margin-right: 24px;
  .el-dialog__close {
    font-size: 20px !important;
    color: #8d98aa !important;
  }
}

.el-table__empty-block {
  margin-top: unset !important;
  background-color: var(--o-bg-color-base);
}

.el-select-dropdown__item {
  font-family: 'HarmonyOS Sans SC Regular' !important;
  font-size: 12px;
  font-weight: unset !important;
}

.model-dialog,
.create-dialog,
.edit-dialog,
.dataSet-edit-dialog {
  .el-form-item__content {
    button.is-disabled {
      border: unset;
      span {
        color: #fff !important;
      }
    }
  }
}

.upload-ops-btn {
  button.is-disabled {
    border: unset;
  }
}

.caret-wrapper {
  margin-left: 4px !important;
  color: #8D98AA !important;
  .sort-up-active{
    border-bottom-color:#8D98AA !important ;
  }
  .sort-down-active{
    border-top-color:#8D98AA !important ;
  }
}

.removeIsTrans {
  color: #a8abb2 !important;
}

.el-pagination {
  .el-pagination__total {
    color: var(--o-text-color-secondary) !important;
  }
  .el-pagination__sizes {
    margin: 0px;
    .el-select .el-input{
      width: 100px;
      .el-input__inner{
        color: var(--o-text-color-secondary) !important;
      }
    }
  }
  .btn-prev {
    margin-left: 12px !important;
    background-color: var(--o-bg-color-base) !important;
    width: 16px !important;
  }
  .el-pager .number {
    color: var(--o-text-color-secondary) !important;
    font-size: 12px;
    background-color: var(--o-bg-color-base) !important;
  }
  .el-pager li{
    background-color: var(--o-bg-color-base) !important;
    &.is-active{
      color: rgb(99,149,253) !important;
    }
  }
  .btn-next {
    margin-right: 12px !important;
    background-color: var(--o-bg-color-base) !important;
    width: 16px !important;
  }
  .el-pagination__jump {
    margin-left: unset;
    .el-input__inner{
      color: var(--o-text-color-secondary) !important;
    }
  }
  .el-pagination__editor.el-input{
    .el-input__wrapper{
      width: 40px;
      .el-input__inner{
        min-width: 30px;
      }
    }
  }
  .el-pagination__goto {
    color: var(--o-text-color-secondary) !important;
    margin-right: unset;
  }
  .el-pagination__classifier {
    color: var(--o-text-color-secondary) !important;
    margin-left: unset;
  }
}

.el-icon--caretup {
  color: var(--o-button-bg) !important;
}

.downBtn {
  border: 1px solid var(--o-border-color-base) !important;
  color: #606266 !important;
}

.el-pagination {
  .el-select {
    width: 100px !important;
  }
  .el-select__wrapper, .el-input__wrapper {
    border-radius: 4px !important;
  }
  button:disabled .el-icon {
    color: #8d98aa !important;
  }
  .el-select:not(.el-select--disabled):hover .el-input__wrapper{
    box-shadow: 0 0 0 1px inset #6395FD;
  }
}

.cancelBtn {
  margin-left: 8px !important;
}

.el-message__closeBtn {
  color: #8d98aa !important;
}

.el-select__suffix {
  .el-icon {
    font-size: 16px;
  }
}

.el-link--primary{
  display: inline-block;
    width: 100%;
  span{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.custom-header,
.asset-custom-header {
  .el-date-editor--datetimerange {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden;
    margin-top: 10px;
    opacity: 0;
  }
}

.asset-custom-header {
  .el-date-editor--datetimerange {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden;
    margin-top: 10px;
    opacity: 0;
  }
}

.assetTimeFilterPo {
  width: unset !important;
  min-width: unset !important;
  padding: unset !important;
  opacity: 0;
}

.el-pagination button {
  padding: 0 !important;
  width: 28px !important;
  min-width: unset !important;
}

.el-pagination .btn-next .el-icon,
.el-pagination .btn-prev .el-icon {
  font-size: 14px !important;
}

:is([role='option']) {
  font-size: 12px !important;
}
.datetimerangeClass {
  width: 586px !important;
  height: 380px;
  margin-right: -12px;
  border-color: rgb(99,149,253) !important;

  .el-picker-panel {
    width: 100% !important;
    background-color: var(--o-bg-color-base);
  }
  .el-picker-panel__sidebar {
    width: 104px !important;
    padding-top: 4px !important;
    height: 378px;
    background-color: var(--o-bg-color-base);
    border-right-color: var(--o-border-color-base);
  }

  .el-picker-panel__shortcut {
    font-size: 12px;
    line-height: 32px !important;
    padding-left: 16px !important;
    color: var(--o-text-color-secondary);
  }

  .el-picker-panel__body-wrapper {
    height: 345px !important;
  }

  .el-picker-panel__body {
    min-width: unset !important;
    height: 345px;
    margin-left: 104px !important;
    .el-input {
      width: 100px !important;
      .el-input__wrapper {
        height: 24px !important;
      }
    }

    .el-picker-panel__content {
      height: 300px !important;
      padding: 8px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-right-color: var(--o-border-color-base);

      tbody tr {
        height: 32px;
        border: unset !important;
      }

      th {
        height: 32px !important;
        padding: 0 !important;
        color: var(--o-text-color-tertiary) !important;
        border: unset !important;
      }

      th::after {
        content: unset !important;
      }

      tbody {
        tr:first-child {
          margin-bottom: 8px;
        }
      }

      tbody:has(.el-date-table__row) {
        .prev-month{
          .el-date-table-cell {
            .el-date-table-cell__text {
              color: var(--o-text-color-tertiary) !important;
            }
          }
        }
        .available {
          &:hover{
            .el-date-table-cell__text {
              color: white !important;
            }
          }
          .el-date-table-cell__text {
            color: var(--o-text-color-secondary) !important;
          }
        }
        .el-date-table__row {
          margin-bottom: 4px;
          td {
            width: 32px !important;
            height: 32px !important;
            padding: 0 !important;

            .el-date-table-cell {
              width: 32px !important;
              height: 32px !important;
              padding: 0 !important;

              .el-date-table-cell__text {
                width: 32px !important;
                height: 32px !important;
                line-height: 32px !important;
                border-radius: 2px !important;
              }
            }
          }

          .start-date,
          .end-date {
            .el-date-table-cell__text {
              background: rgb(99,149,253);
            }
          }

          .in-range {
            .el-date-table-cell__text {
              color: rgb(255 255 255) !important;
            }
          }
        }
      }
    }
  }
  .el-date-range-picker__editors-wrap {
    display: flex;
    gap: 8px;
  }
  .el-date-range-picker__time-picker-wrap {
    padding: 0 0px !important;
  }

  .el-date-range-picker__header {
    height: 32px;
    padding: 8px !important;
    margin-bottom: 8px;
    width: 224px !important;
    line-height: 16px !important;

    button {
      margin-top: 0 !important;
      display: flex;
      height: 16px;
      align-items: center;
    }
    div {
      width: 120px !important;
      margin-left: 45px !important;
    }
  }

  .el-date-range-picker__time-header {
    display: flex;
    padding: 2px 16px 8px !important;
    border-bottom-color: var(--o-border-color-base);
    .el-icon {
      margin: 0 12px !important;
      font-size: 8px !important;
      svg {
        display: none;
      }
    }

    .el-icon::after {
      display: block;
      width: 8px;
      height: 1px;
      content: '';
      background-color: rgb(223 229 239);
    }

    .el-input--small .el-input__inner {
      font-size: 12px !important;
    }
  }

  .el-picker-panel__footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    justify-content: end;
    padding-right: 24px !important;
    background-color: var(--o-bg-color-base);
    border-top-color: var(--o-border-color-light);
    .el-button.is-disabled{
      background-color: unset !important;
    }
    .el-button:not(.is-disabled){
      color: rgb(99, 149, 253) !important;
      &:hover,&:focus{
        color: rgba(99, 149, 253,0.8) !important;
        background-color: unset !important;
      }
    }
    .el-button.is-text > span:hover {
      color: rgba(99, 149, 253,0.8) !important;
    }
  }

  .el-time-panel {
    left: -70px;
  }

  .is-plain {
    color: #07f;
  }

  .el-picker-panel__footer:has(.is-disabled) {
    .is-plain {
      color: #a8abb2 !important;
    }
  }
}

.timeFilterPo {
  max-width: unset !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  opacity: 0;
  .el-radio.is-checked .el-radio__inner {
    background-color: var(--o-radio-bg-color_checked_hover);
    border-color: var(--o-radio-border-color_checked_hover);
  }
  .el-picker-panel__body-wrapper {
    overflow: unset !important;
  }
  .el-picker-panel__footer {
    padding-right: 24px;
    width: 400px;
    padding-top: 3px !important;
    border: unset !important;
    margin-left: 197px;
  }

  .el-picker-panel__shortcut {
    font-size: 12px;
  }

  .el-picker-panel__body {
    border-bottom: 1px solid #e4e7ed;
  }

  .el-picker-panel__sidebar {
    height: 378px;
    border: 1px solid #e4e7ed !important;
  }

  .customTimeBtn {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    color: rgb(78 88 101);
  }

  .el-radio__inner::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    content: '';
    background-color: var(--el-color-white);
    border-radius: var(--el-radio-input-border-radius);
    transition: transform 0.15s ease-in;
    transform: translate(-50%, -50%) scale(0);
  }

  .config-size {
    width: 104px !important;
  }

  .el-input-number__increase,
  .el-input-number__decrease {
    background: transparent;
    .el-icon {
      color: #8d98aa;
    }
  }

  .filter-btn {
    display: flex;
    justify-content: center;
  }

  .is-checked .el-radio__label {
    color: rgb(78 88 101) !important;
  }
}

.el-input-number__increase{
  border-left: 1px solid var(--o-input-number-border-color) !important;
  border-radius: 0 4px 4px 0 !important;
}
.el-input-number__decrease{
  border-right: 1px solid var(--o-input-number-border-color) !important;
}

/**
 * 重置el-select下拉框样式
 */
.el-select__popper {  
  border: 1px solid rgb(99,149,253) !important;
    border-radius: 4px !important;
    .el-scrollbar{
      border-radius: 4px;
    }
    .el-select-dropdown__list {
    background-color: var(--o-bg-color-base);
    border-radius: 4px;
    margin:4px 0 !important;
    li {
      height: 32px !important;
      line-height: 30px !important;
      color: var(--o-text-color-primary);
    }
    .el-select-dropdown__item {
      padding: 0 16px;
    }
    .is-hovering {
      background-color: var(--o-select-dropdown-bg-color_hover) !important;
      span {
        color: #fff !important;
      }
    }
    .is-selected{
      background-color: var(--o-select-dropdown-bg-color_selected) !important;
      span {
        color: white !important;
      }
    }
    .el-select-dropdown__item.hover{
      background-color: #7AA5FF !important;
      span {
        color: white !important;
      }
    }
    .el-select-dropdown__item.selected, .el-select-dropdown__item.selected:hover{
      background-color: #6395FD !important;
      span {
        color: white !important;
      }
    }
  }
}

.el-select__placeholder.is-transparent{
  color: var(--o-text-color-tertiary) !important;
}

/**
 * 重置el-checkbox样式
 */
 .el-checkbox__label {
  color: var(--o-text-color-secondary) !important;
}
.isChcekHover .el-checkbox__label {
  color: rgb(255 255 255) !important ;
}
.el-checkbox__inner{
  width: 12px !important;
  height: 12px !important;
  background-color: unset !important;
  box-sizing: border-box;
  border-color: rgb(141 152 170) !important;
  color: rgb(141 152 170) !important;
  border-radius: 2px !important;
}
.el-checkbox__input.is-checked,.el-checkbox__input.is-indeterminate{
  background-color: var(--o-button-bg);
  border-radius: 2px !important;
  .el-checkbox__inner{
  border-color: transparent !important;
  }
}
.el-checkbox__input.is-disabled .el-checkbox__inner:after{
  border-color: none !important;
}

.el-input__wrapper,
.el-select__wrapper {
  height: 32px !important;
}

.el-textarea__inner,
.el-select__wrapper,
.el-input__wrapper{
  border-radius: 4px !important;
  // border: 1px solid var(--o-input-border-color) !important;
  // box-shadow: 0 0 0 0 !important;
  background-color: var(--o-bg-color-base) !important;
}
.el-select__wrapper.is-focused{
  // border: 1px solid rgb(99,149,253) !important;
  
}

.el-select__selected-item,
.el-input__inner,
.el-textarea__inner{
  color: var(--o-text-color-primary) !important;
}
.el-textarea .el-input__count{
  background-color: var(--o-bg-color-base) !important;
}


.el-tabs__header {
  .el-tabs__item.is-active{
    color: var(--o-button-bg) !important;
    padding: 0 16px !important;
  }
  .el-tabs__item{
    height: 32px !important;
    padding: 0 16px !important;
  }

  .el-tabs__active-bar{
    background-color: var(--o-button-bg) !important;
    height: 1px !important;
  }
  .el-tabs__nav-wrap:after{
    background-color: var(--o-border-color-base) !important;
    height: 1px !important;
  }
}

.el-drawer{
  background-color: var(--o-bg-color-base) !important;
}

.el-message-box{
  background-color: var(--o-bg-color-base) !important;
  padding: 0px !important;
  width: 400px !important;
  border-radius: 8px !important;
  .el-message-box__header{
    .el-message-box__title{
      color: unset;
      font-size: 16px;
    }
    .el-message-box__headerbtn{
      height: 20px;
    }
  }
  .el-message-box__content{
    .el-message-box__container{
      display: flex;
      align-items: center;
    }
    .el-message-box__message{
      color: var(--o-text-color-secondary);
      font-size: 12px;
      line-height: 16px;
      font-family: 'HarmonyOS Sans SC Regular';
    }
  }
  .el-message-box__btns{
    justify-content: center;
    padding-top: 8px;
    .el-button{
        width: 64px;
        height: 24px;
    }
  }
}
.el-switch.is-checked .el-switch__core {
  background-color: var(--o-switch-bg-color_checked) !important;
  border-color: var(--o-switch-bg-color_checked) !important;
}

.empty_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}
.empty_img{
  width: 330px;
  height: 130px;
}
.empty_pending{
  background-image: var(--o-empty-img-pending);
  background-repeat: no-repeat;
}
.empty_failed{
  background-image: var(--o-empty-img-failed);
  background-repeat: no-repeat;
}
.empty_running{
  background-image: var(--o-empty-img-running);
  background-repeat: no-repeat;
}
.empty_text{
  font-size: 12px;
  margin-top: 8px;
  color: var(--o-text-color-secondary);
  font-family: 'HarmonyOS Sans SC Regular';
  font-weight: 400;
}
.el-table{
  background-color: var(--o-bg-color-base) !important;
}
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf{
  border-bottom: var(--o-table-td-border) !important;
}
.el-table .sort-caret.ascending{
  border-bottom-color: #8D98AA !important;

}
.el-table .sort-caret.descending{
  border-top-color: #8D98AA !important;
}

/**
 * 自定义消息确认框按钮样式
 */
.el-message-box .el-message-box__btns .el-button-confirm {
  background-color: var(--o-button-bg-color) !important;  color: var(--o-text-color-secondary) !important;
  border-color: var(--o-button-border-color) !important;
  &:hover{
    background-color: var(--o-button-bg-color-hover) !important;
    color: var(--o-button-color_hover) !important;
    border-color: var(--o-button-border-color_hover) !important;
  }
}

.el-form-item__label{
  color: var(--o-text-color-secondary) !important;
}

.table-empty-box{
  min-height: calc(100vh - 500px);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  .table-empty-img{
    width: 320px;
    height: 130px;
    background-image: var(--o-empty-img-pending);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.multipleSelectNum{
  font-size: 400;
  display: inline-block;
  font-size: 12px;
  color: rgb(141, 152, 170);
  line-height: 32px;
  .selectedNum{
    color: rgb(99, 149, 253);
  }
}

.el-form-item.is-error .el-input__wrapper, 
.el-form-item.is-error .el-input__wrapper.is-focus, 
.el-form-item.is-error .el-input__wrapper:focus, 
.el-form-item.is-error .el-input__wrapper:hover, 
.el-form-item.is-error .el-select__wrapper, 
.el-form-item.is-error .el-select__wrapper.is-focus, 
.el-form-item.is-error .el-select__wrapper:focus, 
.el-form-item.is-error .el-select__wrapper:hover, 
.el-form-item.is-error .el-textarea__inner, 
.el-form-item.is-error .el-textarea__inner.is-focus, 
.el-form-item.is-error .el-textarea__inner:focus, 
.el-form-item.is-error .el-textarea__inner:hover,
.el-form-item.is-error .el-input__count, 
.el-form-item.is-error .el-input__count.is-focus, 
.el-form-item.is-error .el-input__count:focus, 
.el-form-item.is-error .el-input__count:hover{
  background-color: #f7c1c1 !important;
}
.el-form-item__error{
  color: var(--o-form-tip-color_error);
}

.select-input-search{
  .el-input-group__prepend{
      border-radius: 4px 0 0 4px !important;
    .el-input__wrapper{
      border-radius: 4px 0 0 4px !important;
    }
  }
  .el-input__wrapper{
    border-radius: 0 4px 4px 0 !important;
  }
  .el-input-group__prepend{
    min-height: 32px;
    height: 32px;
  }
}

.table-row-content{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 控制显示行数 */
  text-overflow: ellipsis;
}