.o-upload-progress-notify {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 9;
  width: 400px;
  overflow: hidden;
  background-color: var(--o-bg-color-base);
  border-color: var(--o-bg-color-base);
  border-radius:8px;
  box-shadow: var(--o-task-box-shadow);

  .o-upload-notify__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 4px 16px;
    font-size: var(--o-font-size-text);
    line-height: var(--o-line-height-text);
    color: var(--o-text-color-primary);
    background-color: var(--o-bg-color-light);

    .task-list {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }

    .nofity-show {
      display: flex;
      align-items: center;
      width: 20px;
      height: 100%;
    }
  }

  .o-upload-notify__body {
    padding:0 0 8px 16px;
    background-color: var(--o-bg-color-light);
  }

  .o-upload-notify__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 434px;
    overflow-y: auto;
    padding-right: 16px;
    &::-webkit-scrollbar {
      width: 4px; // 调整滚动条宽度
    }
    // 滚动条滑块样式
    &::-webkit-scrollbar-thumb {
      background: #C3CECF; // 滑块颜色
    }

    .item {
      padding: 16px;
      padding-bottom: 12px;
      background: var(--o-bg-color-base);
      border-radius: 4px;

      .el-progress__text {
        min-width: 10px;
        color: var(--o-text-color-primary);
        font-weight: 700;
        margin-left: 10px;
      }
    }

    .item-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: 600;
      color: var(--o-text-color-primary);
    }

    .item-info {
      display: flex;
    }

    .item-close {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    .item-name {
      font-size: 12px;
      max-width: 160px;
      flex: 1;
    }

    .item-success-name {
      max-width: 220px;
    }

    .item-file-size {
      max-width: 70;
    }

    .upload-status {
      width: 80px;
    }

    .upload-success {
      display: flex;
      gap: 6px;
      align-items: center;
      margin-top: 6px;
      font-size: 12px;
      color: var(--o-text-color-primary);
      font-weight: 600;
      .el-icon {
        font-size: 14px;
        path {
          fill: green !important;
        }
      }
    }
    .upload-error {
      display: flex;
      gap: 6px;
      align-items: center;
      margin-top: 6px;
      font-size: 12px;
      color: rgb(0 0 0);
      font-weight: 600;
      .el-icon {
        font-size: 14px;

        path {
          fill: rgb(228 33 33);
        }
      }
      
      .retry-button {
        margin-left: auto;
        padding: 4px 8px;
        font-size: 12px;
        color: rgb(99,149,253);
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        
        &:hover {
          color: rgb(79,129,233);
        }
        
        .el-icon {
          font-size: 14px;
          path {
            fill: currentColor;
          }
        }
      }
    }

    .upload-restart {
      color: rgb(99,149,253);
      cursor: pointer;
    }
  }

  .item-all-close {
    padding: 16px 16px 8px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(99,149,253);
    text-align: right;
    cursor: pointer;
  }

  .o-upload-notify__close {
    position: absolute;
    right: 16px;
    font-size: var(--o-font-size-body);
    color: var(--o-text-color-secondary);
    cursor: pointer;

    &:hover {
      color: var(--o-text-color-primary);
    }
  }
}
